.bg-image-sec01{
    background-image: url("../img/slideshow-25.jpg");
    height: 95.5vh;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-image-sec02{
    background-image: url("../img/about-us-bg.png");
    height: 117vh;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image-sec03{
    background-image: url("../img/special-bg.jpg");
    height: 89.5vh;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-white-sec04{
    background-color: #fafafa;
    height: 1300px;
}

.bg-black-sec05{
    background-color: #111;
    height: 850px;
}

.bg-white-sec06{
    background-color: #fafafa;
    height: 1000px;
}

p{
    color: #fafafa;
}

h1{
    color: #fafafa;
    text-transform: uppercase;
}

h2{
    color: #fafafa;
    text-transform: uppercase;
}

h3{
    color: #fafafa;
    text-transform: uppercase;
}

h4{
    color: #fafafa;

}

#section-01 h2{
    text-decoration: underline overline #fafafa;
    text-underline-offset: 0.8rem;
}

#section-02 p {
    padding-top: 60px;
    line-height: 1.8;
}

#section-03 p {
    color: #333;
}
#section-05 #gallery .col-3{
    padding: 0;
}
#section-05 #gallery .col-12{
    padding: 0;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #fafafa;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.black-box{
    background-color: #000;
    color: #fafafa;
    width: 650px;
    height: 650px;
    padding: 100px 50px 50px 50px;    
    position: relative;
}

#section-04 .black-box{
    background-color: #000;
    color: #fafafa;
    width: 1576px;
    height: 1000px;  
    position: relative;
    padding: 0;
}

.inner-outline {
    outline: 1px solid #fafafa;
    outline-offset: -20px;
}

img{
    max-width: 100%;
}

.card{
    width: 350px !important;
    height: 450px !important;
    margin: 20px;
}

.checked {
    color: orange;
}

.nav-link{
    color: #fafafa !important;
}

.navbar .navbar-nav .nav-link:hover {
    outline: 1px solid #fafafa;
    color: #fafafa;
}


@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1600px !important;
    }
}

#section-04 .content .container #logo-nav-sec04 img{
    opacity: 50%;
}

#section-04 .content .container #logo-nav-sec04 img:hover{
    opacity: 100%;
}

